.body {
  display: inline;
  height: 161px;
  width: 100%;
  //margin-top: -15px;
  @media (min-width: 480px) {
    width: calc(100% - 90px);
    //margin-top: 0px;
    height: 190px;
  }
  background-color: white;
  .more-activities {
    //flex-shrink: 0;
    background-color: #eee;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 30px;
    width: 77px;
    height: 132px;
    @media (min-width: 480px) {
      background-color: white;
      margin-top: 36px;
      margin-left: 10px;
      width: 90px;
      height: 154px;
    }
    float: left;
    @extend .italic-font;
    &.param2 {
      display: none;
    }
    &.param3 {
      @media (min-width: 590px) {
        display: none;
      }
    }
    &.param4 {
      @media (min-width: 690px) {
        display: none;
      }
    }
    &.param5 {
      @media (min-width: 915px) {
        display: none;
      }
    }
    .small-circle {
      margin-top: 7px;
    }
    text-align: center;
    line-height: 16px;
    display: flex;
    flex-wrap: wrap;
    span {
      padding-top: 40px;
      //margin-bottom: 54px;
      height: 88px;
      @media (min-width: 480px) {
        height: 109px;
      }        
      width: 100%;
      @extend .normal-font;
      font-size: 18px;
      display: block;
    }
    .more-5 {
      display: none;
      @media (min-width: 915px) {
        display: block;
      }
    }
    .more-4 {
      display: none;
      @media (min-width: 690px) {
        display: block;
      }
      @media (min-width: 915px) {
        display: none;
      }
    }
    .more-3 {
      display: none;
      @media (min-width: 590px) {
        display: block;
      }
      @media (min-width: 690px) {
        display: none;
      }
    }
    .more-2 {
      @media (min-width: 590px) {
        display: none;
      }
    }
  }
  .comments {
    display: inline;
    overflow: hidden;
    float: left;
    width: 78px;
    height: 170px;
    @media (min-width: 480px) {
      height: 205px;
      width: 100px;
    }
    &.param2 {
      width: 156px;
      @media (min-width: 480px) {
        width: 200px;
      }
    }
    @media (min-width: 590px) {
      &.param2,&.param3,&.param4,&.param5,&.param6 {
        width: 200px;
      }
      &.param3 {
        width: 300px;
      }
    }
    @media (min-width: 690px) {
      &.param3,&.param5,&.param6 {
        width: 300px;
      }
      &.param4 {
        width: 400px;
      }
    }
    @media (min-width: 915px) {
      &.param4,&.param6 {
        width: 400px;
      }            
      &.param5 {
        width: 500px;
      }
    }
    .comment {
      float: right;
      @extend .more-activities;
      background-color: #eee;
      .comment-avatar {
        @extend .avatar;
        margin: 21px;
        @media (min-width: 480px) {
          margin: 20px
        }
      }
      .footer {
        height: 48px;
        display: block;
        .footer-text {
          margin: 22px 3.5px 0px 3.5px;
          @media (min-width: 480px) {
            margin-top: 26px;
            margin: 26px 10px 0px 10px;
          }
        }
        .small-circle {
          margin-top: 2px;
        }
        &.answer {
          .footer-text {
            color: black;
            border-color: black;
          }
          .small-circle {
            background-color: black;
          }
        }
      }
    }
  }
}
