.elem-container {
  background-color: #fbfbfb;
  width: 100%;
  min-height: calc(100% - 200px);
  margin: 0px;
//  margin: 0px 40px 58px 40px;
  padding-top: 146px; 
  @media (min-width: 768px) {
    padding-top: 151px;
  }  
  @media (min-width: 980px) {
    margin: 0px 40px 58px 40px;
    width: calc(100% - 80px);
  }
  .question {
    margin-left: 0px;
    margin-bottom: 1px;
    width: 100%;
    @media (min-width: 768px) {
      //margin-left: 40px;
      //margin-right: 40px;
      //width: calc(100% - 80px);
      margin-left: calc(42.45283018867924% - 326.0377358490566px);
      width: calc(15.09433962264151% + 652.0754716981132px);
    }
    @media (min-width: 980px) {
      margin-left: calc((100% - 800px)/2);
      width: 800px;
    }
    height: 235px;
    @media (min-width: 480px) {
      height: 320px;
    }
    background-color: white;
    @include shadow(3px,-0px,6px, 0.1);
    display: flex;
    .background {
      background-color: $azure;
      height: 280px;
      width: 800px;
      height: 234px;      
      @media (min-width: 480px) {
        height: 280px;
      }
      display: flex;
      flex-wrap: wrap;
      .avatar {
        margin: 10px;
        @include avatar(35px);
        background-size: 35px;
        @media (min-width: 480px) {
          @include avatar(50px);
          margin: 20px;
        }
      }
      .question-header {
        width: calc(100% - 90px);
        padding: 10px;
        padding-left: 0px;
        height: 73px;
        @media (min-width: 480px) {
          padding: 20px;
          height: 90px;
        }
        .author {
          display: block;
          color: $gray;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 21px;
          @extend .small-caps-font;
          span {
            color: $blue;
            font-size: 13px;
            @extend .bold-font;
            margin-right: 10px;
          }
          padding-bottom: 3px;
        }
        h2 {
          @extend .italic-font;
          color: $blue;
          font-weight: bold;
          font-size: 17px;
          @media (min-width: 480px) {
            font-size: 20px;
          }
          margin: 0px;
        }
      }
      .small-circle {
        width: 10px;
        height: 10px;
        margin-left: calc(50% - 5px);
        background-color: $gray;
        margin-top: 2px;
        @include border-radius(50%);
      }
      .footer {
        display: none;
        @media (min-width: 480px) {
          display: block;
        }
        width: 90px;
        height: 190px;
        .footer-text {
          margin-top: 162px;
          @extend .small-caps-font;
          width: 70px;
          margin-left: 10px;
          color: $gray;
          text-align: center;
          padding-top: 5px;
          border-top: 1px $gray solid;
        }
      }
      @import "all-questions-comments";
      .summary {
        float: right;
        @extend .italic-font;
        padding: 20px 10px 0px 0px;
        @media (min-width: 480px) {
          padding: 30px 15px 0px 25px;
        }
        margin-top: 0px;
        //width: 200px;
        @media (min-width: 980px) {
          margin-top: -90px;
          padding-top: 120px;
          flex-shrink: 0;
          width: 200px;
        }
        margin-left: 10px;
        background-color: white;
        div {
          span {
            @extend .normal-font;
            font-size: 18px;
            margin-right: 5px;
          }
          padding-bottom: 15px;            
          @media (min-width: 480px) {
            padding-bottom: 40px;
          }
        }
      }
    }
  }
  .ending {
    @extend .question;
    height: 70px;
    padding: 21px 0px 0px 20px;
    @media (min-width: 480px) {
      padding: 36px 0px 0px 20px;
      height: 90px;
    }
    span {
      @extend .normal-font;
      color: $red;
      cursor: pointer;
      &:hover {
        color: lighten($red, 10%);
      }
      &:active {
        color: lighten($red, 20%);
      }
    }
  }
}
